.App {
  font-family: sans-serif;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  height: 32px;
  padding: 4px 8px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 360px;
  overflow-y: auto;
}

.label {
  align-self: flex-start;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 16px;
  width: 300px;
}

.table-container {
  height: 300px;
  overflow: auto; /* BOTH directions scroll */
  border: 1px solid #ddd;
  border-radius: 6px;
}

/* Table */
.user-table {
  width: 100%;
  min-width: 700px; /* ensures horizontal scroll if needed */
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  font-family: Arial, sans-serif;
}

/* Header */
.user-table th {
  position: sticky;
  top: 0;
  background: #f5f5f5;
  z-index: 2;
}

/* Column dividers */
.user-table th,
.user-table td {
  padding: 10px 14px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Remove last column right border */
.user-table th:last-child,
.user-table td:last-child {
  border-right: none;
}

/* Hover */
.user-table tbody tr:hover {
  background: #f1f1f1;
}
.btn {
  margin: 8px;
  align-self: flex-end;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
}
.form-btns {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 16px;
}
.error-text {
  color: red;
  font-size: 12px;
  text-align: left;
}
